# Exploring Cricsheet's Data

In this data, we will understand how the data of a cricket match is structured in a CSV file provided by Cricsheet. The manner in which the data is laid out is provided on the page [Introduction to the "Ashwin" CSV format](https://cricsheet.org/format/csv_ashwin/#introduction-to-the-quot-ashwin-quot-csv-format).

## Load data

Let us begin by importing the required packages and loading data from CSV files. By looking at the documentation, we know that data for each match is available in 2 files - one with the `_info` suffix and one without. The former has match information like venue, toss, umpires, etc. and the latter provides ball-by-ball data.

In [1]:
from pathlib import Path
import os

import pandas as pd

In [2]:
data_dir: str = "../data/cricsheet/csv"

Let us get the ID of the first file that `os.listdir()` provides.

In [4]:
sample_match_id: str = Path(os.listdir(data_dir)[0]).stem.split("_")[0]
sample_match_id

'913655'

Let us now load the match info and ball-by-ball data for this match.

In [7]:
sample_match_info: pd.DataFrame = pd.read_csv(
    os.path.join(data_dir, f"{sample_match_id}_info.csv"),
    names=["section", "category", "value_1", "value_2", "value_3"]
)
sample_match_info

    section        category   value_1        value_2   value_3
0   version           2.1.0       NaN            NaN       NaN
1      info  balls_per_over         6            NaN       NaN
2      info            team   England            NaN       NaN
3      info            team  Pakistan            NaN       NaN
4      info          gender      male            NaN       NaN
..      ...             ...       ...            ...       ...
65     info        registry    people  Sarfraz Ahmed  2254ab79
66     info        registry    people  Sharjeel Khan  193ef196
67     info        registry    people   Shoaib Malik  64c34cd0
68     info        registry    people     Wahab Riaz  b3118300
69     info        registry    people     Yasir Shah  f2800ef3

[70 rows x 5 columns]